<section>
  <div class="main-subscribe">
    <form class="user-login-form">
      <input class="email" id="adminEmail" type="email" placeholder="이메일을 입력해 주세요." required />
      <input class="password" id="adminpw" type="password" placeholder="비밀번호를 입력해 주세요." required />
      <button class="login-btn" type="button" onclick="adminLogin()">로그인 하기</button>
    </form>
  </div>
</section>
<script src="/js/auth.js"></script>
