<section>
  <div class="main-subscribe">
    <form class="user-login-form">
      <input class="email" id="businessEmail" type="email" placeholder="이메일을 입력해 주세요." required />
      <input class="password" id="businesspw" type="password" placeholder="비밀번호를 입력해 주세요." required />
      <button class="login-btn" type="button" onclick="businessLogin()">로그인 하기</button>
      <button class="register-btn" type="button" onclick="location.href='/business/signup'">회원가입 하기</button>
    </form>
  </div>
</section>
<script src=" /js/auth.js"></script>
