<section>
  <div class="qr-form">
    <span id="qr"></span>
    <button class="qr-btn" type="button" onclick="getQRCode()">QR코드 새로고침</button>
  </div>
</section>
<script src="//www.sixpack.pro/js/qrcode.js"></script>
