<section class="approveDetail-container">
  <div class="img-slider">
    <ul class="bxslider">
      <li><img src="/images/gym-1.jpg" id="main-img" /></li>
      <li><img src="/images/gym-2.jpg" id="main-img" /></li>
      <li><img src="/images/gym-3.jpg" id="main-img" /></li>
      <li><img src="/images/gym-4.jpg" id="main-img" /></li>
      <li><img src="/images/gym-5.jpg" id="main-img" /></li>
    </ul>
  </div>
</section>
<script src="/js/main.js"></script>
<script src="/js/adminApproveDetail.js"></script>
