<div class="img-slider">
  <ul class="bxslider">
    <li><img src="/images/gym-1.jpg" id="main-img" /></li>
    <li><img src="/images/gym-2.jpg" id="main-img" /></li>
    <li><img src="/images/gym-3.jpg" id="main-img" /></li>
    <li><img src="/images/gym-4.jpg" id="main-img" /></li>
    <li><img src="/images/gym-5.jpg" id="main-img" /></li>
  </ul>
</div>

<div class="gym-detail-wrap">
  <p class="gym-detail-name">헬스장이름</p>
  <p class="gym-detail-address">헬스장주소</p>
  <textarea class="gym-detail-desc" name="description" id="" disabled>
    스파르타 헹스장은 국대 최대규모 헬스장 입니다. 
    스파르타만의 쾌적하고 최신식 시설을 이용해 보세요.

    이용시간
    평일 06:00 ~ 23:00
    주말 07:00 ~ 21:00
    02-123-4567
    이용시간
    평일 06:00 ~ 23:00
    주말 07:00 ~ 21:00
    02-123-4567
  </textarea>
</div>
<div class="certification-wrap">
  <p>사업자 등록증</p>
  <img src="이미지 주소" alt="" />
</div>
<button class="approve-btn" onclick="approveGym()">제휴업체 승인하기</button>
<script src="/js/main.js"></script>
<script src="/js/adminApproveDetail.js"></script>
