<section class="approveDetail-container">
  <div class="approve-img-slider">
    <ul class="approve-bxslider">
      <!-- <li><img src="/images/yoga-1.jpg" id="main-img" /></li>
      <li><img src="/images/main-1.jpg" id="main-img" /></li>
      <li><img src="/images/crossfit-1.jpg" id="main-img" /></li> -->
    </ul>
    <!-- <div class="approveDetail-container"></div> -->
  </div>
</section>
<script src="/js/adminApproveDetail.js"></script>
