<section class="approveDetail-container">
  <div class="approve-img-slider">
    <ul class="approve-bxslider"></ul>
  </div>
</section>
<script src="https://www.sixpack.pro/js/adminApproveDetail.js"></script>
