<div class="footer-container">
  <ul class="footer-wrap">
    <li class="footer">
      <svg
        class="svg-select"
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 235.17 245.832"
        style="enable-background: new 0 0 235.17 245.832"
        xml:space="preserve"
      >
        <path
          d="M234.503,109.392L123.266,1.953c-1.178-1.138-2.752-1.774-4.389-1.774h-1.586
	c-1.637,0-3.211,0.635-4.389,1.774L1.668,109.392c-1.852,1.789-2.433,4.524-1.468,6.912c0.965,2.388,3.282,3.95,5.857,3.95h9.704
	c4.58,0.002,6.179,0.341,6.731,0.554c0.206,0.541,0.532,2.093,0.532,6.491l0.001,111.919c0,3.489,2.829,6.318,6.318,6.318h58.56
	c3.489,0,6.318-2.829,6.318-6.318l-0.006-23.444c-0.007-13.694-0.015-27.388,0.029-41.082c0.014-4.069,0.305-4.354,4.462-4.373
	c4.668-0.022,9.334-0.015,14.002-0.009l5.379,0.006l5.373-0.006c4.667-0.006,9.336-0.012,14.002,0.009
	c4.156,0.019,4.448,0.304,4.462,4.371c0.044,13.695,0.036,27.389,0.029,41.083l-0.006,23.444c0,3.489,2.829,6.318,6.318,6.318
	h58.559c3.489,0,6.318-2.829,6.318-6.318l0.002-111.919c0-4.398,0.325-5.949,0.532-6.491c0.552-0.213,2.152-0.552,6.733-0.554h9.704
	c2.576,0,4.893-1.563,5.858-3.95C236.935,113.916,236.356,111.181,234.503,109.392z"
        />
      </svg>
    </li>
    <li class="footer small-svg">
      <svg
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 253.17 229.832"
        style="enable-background: new 0 0 253.17 229.832"
        xml:space="preserve"
      >
        <g>
          <path
            d="M243.783,190.997c-7.369-4.104-15.32-6.724-23.426-8.878c-20.891-5.553-42.229-8.097-63.748-9.521
		c-2.969-0.197-4.528,0.676-6.123,3.059c-6.169,9.219-12.568,18.284-18.884,27.405c-3.428,4.95-6.708,4.981-10.092,0.096
		c-6.644-9.593-13.308-19.172-19.904-28.797c-0.922-1.345-1.785-2.012-3.575-1.802c-15.252,1.785-30.578,3.047-45.76,5.283
		c-13.489,1.987-26.779,5.252-39.172,11.206c-3.653,1.754-7.157,4.077-10.22,6.727c-3.718,3.218-3.621,6.335,0.016,9.631
		c2.345,2.125,5.045,3.977,7.846,5.458c10.926,5.778,22.806,8.767,34.812,11.184c30.771,6.191,61.908,7.87,93.216,7.13
		c24.692-0.585,49.224-2.707,73.379-8.121c10.914-2.446,21.668-5.437,31.559-10.877c3.703-2.037,7.046-4.506,9.138-8.329
		c0-0.822,0-1.645,0-2.467C250.972,195.349,247.471,193.051,243.783,190.997z"
          />
          <path
            d="M124.815,190.961c0.497,0.72,1.041,1.407,1.686,2.274c0.439-0.54,0.761-0.889,1.03-1.276
		c19.964-28.863,40.098-57.613,59.832-86.633c16.162-23.768,14.725-54.759-3.022-77.343C164.934,3.284,130.995-6.181,100.448,5.078
		c-43.411,16-59.476,65.808-33.22,102.795C86.733,135.349,105.639,163.251,124.815,190.961z M126.467,29.76
		c19.18-0.091,35.038,15.775,34.991,35.011c-0.046,19.154-15.736,34.836-34.884,34.869c-19.236,0.032-35.044-15.777-34.996-35
		C91.624,45.499,107.277,29.852,126.467,29.76z"
          />
          <path
            d="M126.5,89.88c13.839,0.082,25.134-11.111,25.207-24.981c0.075-14.038-11.048-25.313-25.057-25.403
		c-13.877-0.087-25.228,11.065-25.327,24.882C101.223,78.576,112.299,89.796,126.5,89.88z"
          />
        </g>
      </svg>
    </li>
    <li class="footer">
      <svg
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 222.17 221.832"
        style="enable-background: new 0 0 222.17 221.832"
        xml:space="preserve"
      >
        <g>
          <circle cx="109.798" cy="112.021" r="38.406" />
          <path
            d="M171.812,0.294h-121.7c-12.113,0-23.218,4.365-31.852,11.592h-0.012v0.011
		C7.351,21.023,0.399,34.714,0.399,50.007v121.701c0,27.412,22.302,49.713,49.713,49.713h121.7
		c27.413,0,49.713-22.301,49.713-49.713V50.007C221.525,22.596,199.224,0.294,171.812,0.294z M109.798,171.376
		c-32.728,0-59.355-26.627-59.355-59.355s26.627-59.355,59.355-59.355s59.355,26.627,59.355,59.355S142.526,171.376,109.798,171.376
		z M169.153,55.16c-5.234,0-9.477-4.243-9.477-9.477c0-5.234,4.243-9.477,9.477-9.477c5.234,0,9.477,4.243,9.477,9.477
		C178.63,50.918,174.387,55.16,169.153,55.16z"
          />
        </g>
      </svg>
    </li>
    <li class="footer">
      <svg
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 203.17 202.832"
        style="enable-background: new 0 0 203.17 202.832"
        xml:space="preserve"
      >
        <g>
          <path
            d="M156.728,110.597c-2.37-1.63-4.911-3.012-7.288-4.459c-27.468,25.34-68.663,25.285-95.989,0.074
		c-0.725,0.387-1.383,0.699-2.001,1.074C18.825,127.112,1.622,156.019,0.321,194.24c-0.188,5.52,3.126,8.699,8.722,8.699
		c61.569,0.006,123.14,0.006,184.709,0c5.733,0,8.913-3.147,8.726-8.936C201.331,158.483,185.968,130.72,156.728,110.597z"
          />
          <path
            d="M101.183,109.631c29.359,0.022,54.675-25.218,54.659-54.497
		c-0.016-29.944-24.446-54.351-54.414-54.363C71.46,0.759,46.971,25.177,46.959,55.081C46.947,85.1,71.308,109.608,101.183,109.631z
		"
          />
        </g>
      </svg>
    </li>
  </ul>
</div>
<div class="footer-height"></div>
