<div class="header-wrap">
  <h1 onclick="location.href='/'">Six Pack</h1>
  <ul>
    <li onclick="location.href='/user/qrcode'" class="qr-code">QR</li>
    <li id="camera-wrap">
      <label for="qr-camera"></label>
    </li>
    <li onclick="" class="search">검색</li>
    <div class="search-box">
      <input class="search-input" type="text" autocomplete="off" placeholder="주소 또는 업체명을 입력하세요" />
      <button class="search-submit">검색</button>
    </div>
  </ul>
</div>
<div class="header-height"></div>

<script src=" /js/searchGym.js"></script>
