<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Payment Test</title>

  <!-- jQuery library (served from Google) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- bxSlider Javascript file -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
  <!-- bxSlider CSS file -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
  <!-- kakao -->
  <script
    type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%= process.env.KAKAO_MAP_KEY %>&libraries=clusterer,services"
  ></script>

  <!-- iamport.payment.js -->
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/main.css" />

  <link rel="stylesheet" href="/css/postGym.css" />
  <link rel="stylesheet" href="/css/businessMyInfo.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/admin.css" />
  <link rel="stylesheet" href="/css/qrcode.css" />
  <link rel="stylesheet" href="/css/user-login.css" />
  <link rel="stylesheet" href="/css/allGymstyle.css" />
  <link rel="stylesheet" href="/css/gym.css" />
  <link rel="stylesheet" href="/css/gymDetail.css" />
  <link rel="stylesheet" href="/css/mypage.css" />
  <link rel="stylesheet" href="/css/feed.css" />
  <link rel="stylesheet" href="/css/postReview.css" />
  <link rel="stylesheet" href="/css/adminApproveDetail.css" />
  <link rel="stylesheet" href="/css/mediaQuery.css" />
</head>
