<div class="header-wrap">
  <h1 onclick="location.href='/'">Six Pack</h1>
  <ul>
    <li onclick="location.href='/user/qrcode'" class="qr-code">QR</li>
    <li onclick="" class="search">검색</li>
    <div class="search-box">
      <input class="search-input" type="text" placeholder="검색어를 입력하세요" />
      <button class="search-submit search"></button>
    </div>
  </ul>
</div>
<div class="header-height"></div>

<script src="/js/searchGym.js"></script>
