<div class="header-wrap">
  <a href="/"><h1>Six Pack</h1></a>
  <ul>
    <li class="qr-code" onclick="location.href='/user/qrcode'">QR</li>
    <a href=""><li class="search">검색</li></a>
  </ul>
</div>
<div class="header-height"></div>
