<div class="header-wrap">
  <h1 onclick="location.href='/'">Six Pack</h1>
  <ul>
    <li onclick="location.href='/user/qrcode'" class="qr-code">QR</li>
    <li onclick="" class="search">검색</li>
  </ul>
</div>
<div class="header-height"></div>
