<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>식스팩. 이젠 헬스장도 구독!</title>

  <!-- jQuery library (served from Google) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- bxSlider Javascript file -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
  <!-- bxSlider CSS file -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
  <!-- kakao -->
  <script
    type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%= process.env.KAKAO_MAP_KEY %>&libraries=clusterer,services"
  ></script>

  <!-- iamport.payment.js -->
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <!-- toastr css 라이브러리 -->
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
  <!-- toastr js 라이브러리 -->
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <link rel="stylesheet" href="/css/postGym.css" />
  <link rel="stylesheet" href="/css/businessMyInfo.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/admin.css" />
  <link rel="stylesheet" href="/css/qrcode.css" />
  <link rel="stylesheet" href="/css/user-login.css" />
  <link rel="stylesheet" href="/css/allGymstyle.css" />
  <link rel="stylesheet" href="/css/gym.css" />
  <link rel="stylesheet" href="/css/gymDetail.css" />
  <link rel="stylesheet" href="/css/mypage.css" />
  <link rel="stylesheet" href="/css/feed.css" />
  <link rel="stylesheet" href="/css/postReview.css" />
  <link rel="stylesheet" href="/css/adminApproveDetail.css" />
  <link rel="stylesheet" href="/css/mediaQuery.css" />
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png" />
  <link rel="icon" type="image/png" sizes="144x144" href="/images/favicon/android-icon-144x144.png" />
  <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png" />
  <link rel="manifest" href="/images/favicon/manifest.json" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
  <meta name="theme-color" content="#ffffff" />
</head>
