<section>
  <div id="mobile-container" class="mobile-container">
    <div class="info-container">
      <img src="" alt="" id="profileImage" />
      <button class="custom-btn btn-1" id="logout" onclick="logout()">로그아웃</button>
      <span id="name"></span>
      <a href="/business/myinfoBusiness"><img src="/images/right-arrow.png" alt="" height="10px" /></a>
      <br />
      <span id="email"></span>
    </div>
    <hr />
  </div>

  <div class="mygymList">
    <h3>내 업체 리스트</h3>
  </div>

  <div id="imageTextBox"></div>

  <div>
    <button class="enrollMyGymBtn" id="enrollBtn" onclick="location.href='/business/postGym'">업체 등록하기</button>
  </div>
</section>
<script src="/js/businessMyInfo.js"></script>
<script src="/js/mypageBusiness.js"></script>
