<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%= KEY  %>&libraries=clusterer,services"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <body>
    <input type="text" id="loginId" placeholder="아이디" /><br />
    <input type="text" id="loginPw" placeholder="비밀번호" /><br />
    <input type="button" onclick="businesslogin()" value="로그인" /><br />
    <br />
    <form enctype="multipart/form-data">
      <input type="text" id="gymName" placeholder="헬스장 이름" /><br />
      <input type="text" id="gymPhone" placeholder="헬스장 전화번호" /><br />
      <input type="text" id="gymDescription" placeholder="헬스장 설명" /><br />
      <input type="file" id="gymCertification" /><br />
      <select id="gymType">
        <option value="1">헬스장</option>
        <option value="2">필라테스</option>
        <option value="3">요가</option></select
      ><br />
      <input type="text" id="address" placeholder="주소" />
      <input type="button" onclick="execDaumPostcode()" value="주소 검색" /><br />
      <input type="button" onclick="enrollGym()" value="등록" /><br />
    </form>
    <div id="lat" style="display: none"></div>
    <div id="lng" style="display: none"></div>
    <div id="map" style="width: 300px; height: 300px; margin-top: 10px; display: none"></div>
  </body>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="/js/enrollGym.js"></script>
</html>
