<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>피드 작성</title>
  </head>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <body>
    <input type="text" id="loginId" placeholder="아이디" /><br />
    <input type="text" id="loginPw" placeholder="비밀번호" /><br />
    <input type="button" onclick="userlogin()" value="로그인" /><br />
    <br />
    <form enctype="multipart/form-data">
      <input type="file" id="feedImg" /><br />
      <input type="text" id="content" placeholder="내용" /><br />
      <input type="button" onclick="enrollFeed()" value="등록" /><br />
    </form>
    <div id="lat" style="display: none"></div>
    <div id="lng" style="display: none"></div>
    <div id="map" style="width: 300px; height: 300px; margin-top: 10px; display: none"></div>
  </body>
  <script src="/js/enrollFeed.js"></script>
</html>
