<div class="footer-container">
  <ul class="footer-wrap">
    <li class="footer">HOME</li>
    <li class="footer">MAP</li>
    <li class="footer">FEED</li>
    <li class="footer">MYPAGE</li>
  </ul>
</div>
<div class="footer-height"></div>
