<div class="header-wrap">
  <a href="/"><h1>Six Pack</h1></a>
  <ul>
    <a href=""><li class="qr-code">QR</li></a>
    <a href=""><li class="search">검색</li></a>
  </ul>
</div>
<div class="header-height"></div>
