<div class="header-wrap">
  <h1>Six Pack</h1>
  <ul>
    <li class="qr-code" onclick="location.href='/user/qrcode'">QR</li>
    <li class="search">검색</li>
  </ul>
</div>
<div class="header-height"></div>
