<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>홈페이지</title>
  </head>
  <body>
    <h1>홈페이지</h1>
    <button><a href="login">로그인페이지</a></button>
    <button><a href="mypage">마이페이지</a></button>
  </body>
</html>
