<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    $(document).ready(function () {
      user();
    });

    function user() {
      axios
        .get(`api/user`, {
          headers: { Authorization: 'Bearer ' + localStorage.getItem('token') },
        })
        .then((res) => {
          console.log('res!!!: ', res);
          $('#nickname').val(res.data.nickname);
          $('#phone').val(res.data.phone);
          document.getElementById('image').src = res.data.profileImage;
        })
        .catch((err) => {
          console.log(err);
        });
    }

    function put() {
      const formData = new FormData();
      const fileInput = document.getElementById('profileImage');
      formData.append('profileImage', fileInput.files[0]);
      axios
        .put(
          `api/user`,
          formData,
          {
            nickname: document.getElementById('nickname').value,
            currentPassword: document.getElementById('currentPassword').value,
            password: document.getElementById('password')
              ? document.getElementById('password').value
              : document.getElementById('currentPassword').value,
            passwordCheck: document.getElementById('passwordCheck')
              ? document.getElementById('passwordCheck').value
              : document.getElementById('currentPassword').value,
            phone: document.getElementById('phone').value,
            profileImage: document.getElementById('profileImage').value,
          },
          {
            headers: { Authorization: 'Bearer ' + localStorage.getItem('token'), 'Content-Type': 'multipart/form-data' },
          }
        )
        .then((res) => {
          console.log('res!!!: ', res);
        })
        .catch((err) => {
          console.log(err);
        });
    }

    // 비밀번호 수정하기 버튼을 클릭하면 input 요소를 추가합니다.
    function addInputs() {
      const password = document.createElement('input');
      password.type = 'password';
      password.id = 'password';

      const passwordCheck = document.createElement('input');
      passwordCheck.type = 'password';
      passwordCheck.id = 'passwordCheck';

      const br = document.createElement('br');

      const container = document.getElementById('inputContainer');

      const inputPassword = document.getElementById('password');

      if (!inputPassword) {
        container.appendChild(password);
        container.appendChild(br);
        container.appendChild(passwordCheck);
      } else {
        while (container.firstChild) {
          container.removeChild(container.firstChild);
        }
      }
    }
  </script>
  <body>
    <h1>회원정보 수정</h1>
    <input type="text" id="nickname" />
    <br />
    <input type="password" id="currentPassword" placeholder="현재 비밀번호를 입력해주세요" />
    <span onclick="addInputs()">비밀번호 수정하기</span>
    <br />
    <div id="inputContainer"></div>
    <input type="text" id="phone" />
    <br />
    <input type="file" id="profileImage" />
    <br />
    <img id="image" src="" alt="" width="500px" height="300px" />
    <br />
    <input type="submit" onclick="put()" />
  </body>
  <script src="/js/userInfo.js"></script>
</html>
