<script
  type="text/javascript"
  src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9aeee9ff016fed561bbb3a8f799b3034&libraries=clusterer,services"
></script>

<script>
  const urlParams = new URLSearchParams(window.location.search);
  const id = +urlParams.get('id');
</script>

<script>
  $(document).ready(function () {
    getThisGym(id);
  });
</script>

<section>
  <div class="main-subscribe">
    <h2 class="h2-subscribe">정보 수정하기</h2>
    <form enctype="multipart/form-data">
      <div id="thisGym">
        <!-- temp_html2 -->
      </div>
    </form>
  </div>
</section>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/businessMyInfo.js"></script>
<script src="/js/enrollGym.js"></script>
