<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>QR 코드 생성기</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    let query = window.location.search;
    let param = new URLSearchParams(query);
    let userId = param.get('id');
    function useGym() {
      axios
        .post(
          `api/qrcode/${userId}`,
          {},
          {
            headers: { Authorization: 'Bearer ' + localStorage.getItem('token') },
          }
        )
        .then((res) => {
          console.log(res);
          alert('입장완료');
        })
        .catch((err) => {
          console.log(err);
          alert(err);
        });
    }
    function businesslogin() {
      axios
        .post('/api/auth/user/business/login', {
          email: document.getElementById('email').value,
          password: document.getElementById('pw').value,
        })
        .then((res) => {
          console.log(res);
          localStorage.setItem('token', res.data.token);
        })
        .catch((err) => {
          console.log(err);
        });
    }
  </script>
  <body>
    <div class="nav justify-content-center">
      <div class="card border-primary mb-3" style="max-width: 18rem; margin-top: 20px">
        <div class="card-header">사업자</div>
        <div class="card-body text-primary">
          <input type="text" id="email" placeholder="이메일을 입력해주세요" class="form-control" required /><br />
          <input type="text" id="pw" placeholder="비밀번호를 입력해주세요" class="form-control" required /><br />
          <button onclick="businesslogin()">로그인</button>
          <button onclick="useGym()">userGym</button>
        </div>
      </div>
    </div>
  </body>
</html>
