<div class="main-subscribe">
  <form class="user-login-form">
    <input class="email" id="userEmail" type="email" placeholder="이메일을 입력해 주세요." />
    <input class="email" id="userNickname" type="password" placeholder="닉네임을 입력해 주세요." />
    <input class="email" id="userpw" type="password" placeholder="비밀번호를 입력해 주세요." />
    <input class="email" id="userpwCheck" type="password" placeholder="비밀번호를 다시 입력해 주세요." />
    <input class="email" id="userPhone" type="password" placeholder="핸드폰 번호를 입력해 주세요." />
    <button class="login-btn" type="button" onclick="">회원가입 하기</button>
  </form>
</div>
<script src="/js/auth.js"></script>
