:root {
  --main-color: #ffffff;
  --point-color: #ff710d;
  --sub-color-1: #020e12;
  --sub-color-2: #c01b0f;
  --sub-color-3: #6a2d71;
  --sub-color-4: #616a71;
  --sub-color-5: #cc5a0a;
  --sub-color-6: #9a160c;
  --sub-color-7: #55245a;
  --sub-color-8: #999999;
  --sub-color-9: #e6e6e6;
}
