:root {
  --main-color: #ffffff;
  --point-color: #ff710d;
  --sub-color-1: #020e12;
  --sub-color-2: #c01b0f;
  --sub-color-3: #6a2d71;
  --sub-color-4: #616a71;
  --sub-color-5: #e33768;
  --sub-color-6: #0c344e;
  --sub-color-7: #344d2a;
  --sub-color-8: #98ad06;
  --sub-color-9: #a13c59;
}
