.mygymList {
  color: #ff710d;
  font-size: 25px;
  margin: 0px 20px 10px 20px;
}

.image-text-box {
  display: flex;
  width: 95%;
  margin: auto;
  border: 1px solid black;
  margin-bottom: 10px;
}

.image-text-box img {
  max-width: 100%;
  max-height: 100%;
  margin-right: 10px;
  width: 190px;
}

.text-box {
  flex: 1;
}

.text-box p {
  margin-bottom: 0;
}

.review-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.review-box p {
  margin-right: 10px;
}

.mybtn {
  margin-left: 25px;
}

.enrollMyGymBtn {
  position: relative;
  width: 90%;
  height: 40px;
  border: 1px solid var(--sub-color-4);
  border-radius: 20px;
  margin: 50px 20px 15px 20px;
  font-size: medium;
  background-color: #ff710d;
  color: aliceblue;
  cursor: pointer;
}

.mygymName {
  margin: 20px;
  color: #ff710d;
  font-size: 20px;
}

.review-go-btn {
  margin-left: 55px;
}
