@media screen and (max-width: 1500px) {
  .web-main-wrap {
    left: 25%;
  }
  .toast-top-center {
    right: -17% !important;
  }
}

@media screen and (max-width: 1200px) {
  .web-main-wrap {
    left: 15%;
  }
  .toast-top-center {
    right: -21% !important;
  }
}

@media screen and (max-width: 1024px) {
  .web-main-wrap {
    display: none;
  }
  #mobile-container {
    margin: auto;
  }
  .toast-top-center {
    right: 0 !important;
  }
}

@media screen and (max-width: 480px) {
  body {
    background: #000;
  }

  #admin-container,
  div.feed-container > div,
  .comment-box,
  .update-feed-wrap,
  .modal_body,
  .header-wrap,
  .search-box,
  .footer-container,
  #mobile-container {
    width: 100vw;
  }

  .approve-img-slider,
  img#approve-img,
  img.feed-image,
  .feed-image,
  .feed-img-upload,
  #feed-preview-img,
  img.preview-img,
  .gym-img-slider,
  img#gym-img,
  .img-slider,
  img#main-img {
    width: 100vw;
    height: 100vw;
  }

  .mybtn button {
    width: auto;
    padding: 0 8px;
  }

  .form-group {
    width: 90vw;
    height: 100vw;
  }
  .review-textarea {
    margin-left: 3%;
  }

  .rating {
    left: 3%;
    top: 118vw;
  }
}
