<section>
  <div class="gym-img-slider">
    <ul class="gym-bxslider"></ul>
  </div>

  <div class="gym-detail-wrap">
    <div class="gym-name-wrap"></div>
    <p class="gym-detail-address"></p>
    <textarea class="gym-detail-desc" name="description" id="" disabled> </textarea>
  </div>
  <p class="review-p">REVIEW</p>
  <div class="review-wrap"></div>
  <script src=" /js/gymDetail.js"></script>
</section>
