<section>
  <div class="img-slider">
    <ul class="bxslider">
      <li><img src="/images/gym-1.jpg" id="main-img" /></li>
      <li><img src="/images/gym-2.jpg" id="main-img" /></li>
      <li><img src="/images/gym-3.jpg" id="main-img" /></li>
      <li><img src="/images/gym-4.jpg" id="main-img" /></li>
      <li><img src="/images/gym-5.jpg" id="main-img" /></li>
    </ul>
  </div>

  <div class="gym-detail-wrap">
    <div class="gym-name-wrap"></div>
    <p class="gym-detail-address"></p>
    <textarea class="gym-detail-desc" name="description" id="" disabled> </textarea>
  </div>
  <p class="review-p">REVIEW</p>
  <div class="review-wrap">
    <div class="review-header">
      <p id="user-name">유저이름</p>
      <p id="review-star">⭐⭐⭐⭐⭐</p>
      <p id="review-date">2021-08-08</p>
    </div>
  </div>
  <script src="/js/main.js"></script>
  <script src="/js/gymDetail.js"></script>
</section>
