<section>
  <div class="address-bar">
    <span class="address" id="current-location"></span>
    <img class="map-icon" src=" /images/map.png" />
    <div class="modal" id="modal">
      <div class="modal_body">
        <div class="close-area"></div>
        <div id="kakao-map"></div>
      </div>
    </div>
  </div>
  <div class="approve-wait">
    <p class="test-qrcode">각 가맹점의 QR코드는 테스트용으로<br />원하시는 가맹점에 입장해보실 수 있습니다.</p>
  </div>
</section>
<script src=" /js/gym.js"></script>
