<section>
  <div class="address-bar">
    <span class="address" id="current-location"></span>
    <img class="map-icon" src="images/map.png" />
    <div class="modal" id="modal">
      <div class="modal_body">
        <div class="close-area" style="color: black">X</div>
        주변 운동시설
        <div id="kakao-map"></div>
      </div>
    </div>
  </div>
  <div class="approve-wait"></div>
</section>
<script src="/js/gym.js"></script>
