<section>
  <div class="address-bar">
    <span class="address" id="current-location"></span>
    <img class="map-icon" src="images/map.png" />
    <div class="modal" id="modal">
      <div class="modal_body">
        <div class="close-area"></div>
        <div id="kakao-map"></div>
      </div>
    </div>
  </div>
  <div class="approve-wait"></div>
</section>
<script src="https://www.sixpack.pro/js/gym.js"></script>
