<section>
  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const text = urlParams.get('text');
    $(document).ready(function () {
      searchGymByText(text);
    });
  </script>
  <div class="approve-wait"></div>
  <script src="/js/searchGym.js"></script>
</section>
