<section>
  <div class="create-gym-wrap">
    <h2 class="h2-create-gym">가맹점 정보 수정</h2>
    <form enctype="multipart/form-data">
      <div id="thisGym">
        <!-- temp_html2 -->
      </div>
    </form>
  </div>
</section>
<script src="https://www.sixpack.pro/js/gymUpdate.js"></script>
