<section id="main-container">
  <div class="img-slider">
    <ul class="bxslider">
      <li><img src="/images/yoga-1.jpg" id="main-img" /></li>
      <li><img src="/images/main-1.jpg" id="main-img" /></li>
      <li><img src="/images/crossfit-1.jpg" id="main-img" /></li>
    </ul>
  </div>

  <div class="main-about-wrap">
    <h2 class="h2-about">About Six Pack</h2>
    <p class="main-about">저희 식스팩은 전국 각지의 제휴된 모든 헬스장을<br />이용할 수 있는 플랫폼 서비스 가맹점입니다.</p>
  </div>

  <div class="main-subscribe">
    <h2 class="h2-subscribe">Six Pack 구독 선택 <span>(매월 1일 결제)</span></h2>
    <div class="subscribe-select sub-basic">
      <p id="member">Basic</p>
      <p id="amount">100,000 원</p>
      <p class="membership-text">모든 헬스장 이용 가능</p>
      <p class="membership-description">월 최대 3곳, 하루 1회 이용 가능</p>
      <button id="subscribe-btn">Basic 멤버십 구독하기</button>
    </div>

    <div class="subscribe-select sub-standard">
      <p id="member">Standard</p>
      <p id="amount">200,000 원</p>
      <p class="membership-text">모든 헬스장 + 필라테스/크로스핏 중 택 1</p>
      <p class="membership-description">월 추가 선택 1곳, 헬스장 3곳, 하루 1회 이용 가능</p>
      <button id="subscribe-btn">Standard 멤버십 구독하기</button>
    </div>

    <div class="subscribe-select sub-premium">
      <p id="member">Premium</p>
      <p id="amount">300,000 원</p>
      <p class="membership-text">모든 제휴가맹점 이용 가능</p>
      <p class="membership-description">모든 제휴가맹점 월 최대 3곳5, 하루 1회 이용 가능</p>
      <button id="subscribe-btn">Premium 멤버십 구독하기</button>
    </div>
  </div>

  <div class="main-amount-wrap">
    <h2 class="h2-amount">식스팩 이용 요금 상세안내</h2>
    <p class="main-amount">첫 구독 일자가 월 중간일 경우 이용하시려는 멤버십<br />금액의 1/30로 일할 계산됩니다.</p>
  </div>
  <div class="partner-btn" onclick="location.href='/business/login'">식스팩 파트너십 맺으러가기</div>
</section>
<script src="/js/main.js"></script>
<script src="/js/payment.js"></script>
<script src="/js/auth.js"></script>
<script>
  $(document).ready(function () {
    user();
  });
</script>
