<section>
  <div class="comment-container">
    <div class="content-user-wrap"></div>
  </div>
  <form enctype="multipart/form-data" class="comment-box">
    <textarea name="create-comment" placeholder="댓글 남기기..." id="create-comment" autofocus></textarea>
    <input type="button" class="comment-btn" onclick="commentAdd()" value="게시" />
  </form>
</section>
<script src="/js/comment.js"></script>
