<section>
  <!-- <input type="text" id="loginId" placeholder="아이디" /><br />
  <input type="text" id="loginPw" placeholder="비밀번호" /><br />
  <input type="button" onclick="userlogin()" value="로그인" /><br />
  <br /> -->
  <form enctype="multipart/form-data">
    <input type="file" id="feedImg" /><br />
    <input type="text" id="content" placeholder="내용" /><br />
    <input type="button" onclick="enrollFeed()" value="등록" /><br />
  </form>
  <div id="lat" style="display: none"></div>
  <div id="lng" style="display: none"></div>
  <div id="map" style="width: 300px; height: 300px; margin-top: 10px; display: none"></div>
</section>
<script src="/js/enrollFeed.js"></script>
