<section>
  <form enctype="multipart/form-data">
    <input type="file" id="feedImg" /><br />
    <input type="text" id="content" placeholder="내용" /><br />
    <input type="button" onclick="enrollFeed()" value="등록" /><br />
  </form>
</section>
<script src="/js/enrollFeed.js"></script>
