<section>
  <div class="update-feed-wrap">
    <p class="update-title">피드 수정하기</p>
    <p class="update-cancel" onclick="location.href='/feed'">취소</p>
    <input class="feed-update-btn" type="button" onclick="feedUpdate()" value="저장" />
  </div>
</section>
<script src="https://www.sixpack.pro/js/feedUpdate.js"></script>
