<section>
  <div class="main-subscribe">
    <h2 class="h2-subscribe">스파르타 헬스장</h2>
  </div>

  <div class="mygymList">
    <h3>내 업체 리스트</h3>
  </div>

  <div id="imageTextBox"></div>

  <div>
    <button class="enrollMyGymBtn" id="enrollBtn" onclick="location.href='/postGym'">업체 등록하기</button>
  </div>
</section>
<script src="/js/businessMyInfo.js"></script>
