<section>
  <div class="mobile-container">
    <div class="info-container">
      <img src="" alt="" id="profileImage" />
      <button class="custom-btn btn-1" id="logout" onclick="logout()">로그아웃</button>
      <a href="/business/myinfoBusiness">
        <span id="business-name"></span>
        <img src=" /images/right-arrow.png" alt="" height="10px" />
      </a>
      <br />
      <span id="email"></span>
    </div>
    <hr />
  </div>

  <div class="mygymList">
    <p>내 가맹점 리스트</p>
  </div>

  <div id="imageTextBox"></div>

  <div>
    <button class="enrollMyGymBtn" id="enrollBtn" onclick="location.href='/business/postGym'">가맹점 등록하기</button>
  </div>
</section>
<script src=" /js/businessMyInfo.js"></script>
<script src=" /js/mypageBusiness.js"></script>
