<section>
  <div class="membership-wrap">
    <p class="member-start">멤버십 시작일 :${createAt}</p>
    <div class="membership-data-wrap">
      멤버십 & 결제 정보
      <span>
        <p class="member-email">${email}</p>
        <p class="member-phone">전화번호 : ${phone}</p>
      </span>
      <span>
        <p class="member-card">${cardName}카드 ${cardNum} **** **** ****</p>
        <p class="member-next-paid">다음 결제일은 ${date} 입니다</p>
      </span>
      <div class="member-paid-list">결제 내역 <img src="/images/right-arrow.png" alt="" class="member-info-btn" /></div>
      <div class="use-gym-list">헬스장 이용 내역 <img src="/images/right-arrow.png" alt="" class="member-info-btn" /></div>
      <div class="my-review">리뷰 관리 <img src="/images/right-arrow.png" alt="" class="member-info-btn" /></div>
      <button class="member-close" onclick="cancelPay()">멤버십 해지</button>
    </div>
  </div>
</section>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"
></script>
<script src="/js/mypage.js"></script>
