<section>
  <div class="mobile-container">
    <div class="info-container">
      <img src="" alt="" id="profileImage" />
      <button class="custom-btn btn-1" id="logout" onclick="logout()">로그아웃</button>
      <span id="name"></span>
      <a href="/business/myinfoBusiness"><img src=" /images/right-arrow.png" alt="" height="10px" /></a>
      <br />
      <span id="email"></span>
    </div>
    <hr />
  </div>
</section>
<script src=" /js/mypageBusiness.js"></script>
