<section>
  <div class="mobile-container">
    <div class="info-container">
      <span class="info-title">결제 내역</span>
    </div>
    <div class="membership-wrap"></div>
    <div class="membership-past-wrap"></div>
    <p class="none-member">결제 내역이 없습니다.</p>
  </div>
</section>
<script src="//www.sixpack.pro/js/mypage.js"></script>
<script>
  $(document).ready(function () {
    user();
  });
</script>
